body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 16px;
}
h1 {
  margin: 60px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.313rem;
  color: #66bfbf;
}
.subhead {
  font-size: 1.375rem;
  color: #66bfbf;
}
.top-container {
  background-color: #f1fcfc;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  background-color: #f1fcfc;
}
.bottom-container {
  background-color: #f1fcfc;
}
.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 400px;
  height: 120px;
  width: 120px;
}
.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
  height: 100px;
  width: 100px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}
h2 {
  padding-top: 40px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}
.nikhil {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.architect {
  height: 175px;
  width: 175px;
  float: left;
  margin-right: 30px;
}
.python {
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 25px;
}

.mountain {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  height: 270px;
  width: 270px;
}
.menu {
  position: absolute;
  height: 45px;
  right: 40px;
  top: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 40px;
}
.profile {
  width: 50%;
  margin: 0px auto 100px auto;
  padding-top: 70px;
  line-height: 2;
}
hr {
  border: solid #679b9b;
  border-style: dotted none none none;
  width: 40px;
  border-width: 6px;
}
.hrule {
  margin-bottom: 0;
  margin-top: 70px;
}
.hori-bot {
  border: solid #679b9b;
  border-style: dotted none none none;
  width: 40px;
  border-width: 6px;
}
.insta {
  height: 30px;
  width: 30px;
}
.contact {
  padding:15px;
  height: 70px;
  width: 70px;
}
.contact-para {
  margin-bottom: 0;
}
.contact-foot{
    margin-top: 0;
    margin-bottom: 0;
    color:#679b9b;
}
.arrow{
  position: absolute;
  height: 40px;
  width: 40px;
  right:100px;
}

