
body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size:1rem;
}
h1 {
  margin: 3.75rem auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.313rem;
  color: #66bfbf;
}
.subhead {
  font-size: 1.375rem;
  color: #66bfbf;
}
.top-container {
  background-color: #f1fcfc;
  position: relative;
  padding-top: 6.25rem;
}
.middle-container {
  background-color: #f1fcfc;
}
.bottom-container {
  background-color: #f1fcfc;
}
.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 25rem;
  height:7.5rem;
  width:7.5rem;
}
.top-cloud {
  position: absolute;
  right:21.875rem;
  top:3.125rem;
  height:6.25rem;
  width:6.25rem;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}
h2 {
  padding-top:2.5rem;
  font-size:1.875rem;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}
.nikhil {
  border-radius: 50%;
  height:12.5rem;
  width:12.5rem;
}
.arch{
    height:10.938rem;
  width:10.938rem;
  float: left;
}
.architect {
  height:10.938rem;
  width:10.938rem;
  float: left;
  margin-right:1.875rem;
}
.python {
  height:12.5rem;
  width: 12.5rem;
  float: right;
  margin-left: 1.25rem;
}

.mountain {
  padding-top: 6.25rem;
  padding-left:6.25rem;
  padding-right:6.25rem;
  height:16.875rem;
  width:16.875rem;
}
.menu {
  position: absolute;
  height:2.813rem;
  right:2.5rem;
  top:1.875rem;
}
.skill-row {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 2.5rem;
}
.profile {
  width: 50%;
  margin: 0px auto 6.25rem auto;
  padding-top:4.375rem;
  line-height: 2;
}
hr {
  border: solid #679b9b;
  border-style: dotted none none none;
  width: 2.5rem;
  border-width:0.375rem;
}
.hrule {
  margin-bottom: 0;
  margin-top: 4.375rem;
}
.hori-bot {
  border: solid #679b9b;
  border-style: dotted none none none;
  width: 2.5rem;
  border-width:0.375rem;
}
.insta {
  height:1.875rem;
  width: 1.875rem;
}
.contact {
  padding:0.938rem;
  height:3.375;
  width: 3.375;
}
.contact-para {
  margin-bottom: 0;
}
.contact-foot{
    margin-top: 0;
    margin-bottom: 0;
    color:#679b9b;
}
.arrow{
  position: absolute;
  height:2.5rem;
  width: 2.5rem;
  right:6.25rem;
}
